.cipher-particles {
  display: block;

  width: 100%;
  height: clamp(190px, 24vw, 240px);

  max-width: 980px;

  margin: 0 auto 1rem auto;

  overflow: hidden;

  pointer-events: auto;
  cursor: default;
}
