.cipher-particles {
  display: block;

  width: 100%;
  height: clamp(210px, 26vw, 275px);

  max-width: 1100px;

  margin: 0 auto 0.75rem auto;

  overflow: hidden;

  pointer-events: auto;
  cursor: default;
}
